/* Chat list */
.no-chat {
  margin: 40px 0px 80px 0px;
}
.no-chat h4 {
  color: #5c88e8;
}
.no-chat p {
  color: #5c88e8;
}

.no-chat h5 {
  margin-top: 60px;
}

.block-btn-chat {
  margin: 40px;
}

.btn-no-chat {
  background-color: #e8f1f2;
  color: #2f2f2f;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
}

.background-chat {
  background-image: url(/images/chat.svg);
  background-repeat: no-repeat;
  background-size: 400px 300px;
  min-height: 400px;
}
.box-chatroom {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding: 15px;
  max-height: 450px;
  min-height: 450px;
  overflow: auto;
}

.box-date {
  margin-bottom: 20px;
}

.box-message {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.box-message .input-field .prefix {
  color: #fff;
}

.box-message .input-field {
  width: 100%;
}

.title-chat {
  padding-top: 15px;
  padding-bottom: 5px;
}

.btn-message {
  margin-top: 22px;
  width: 100px;
  margin-left: 5px;
}
/* Chat list */
.container-chatlist {
  margin-left: 30%;
  margin-right: 30%;
}
.rce-container-citem {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px 0px;
}
.rce-mbox-text {
  margin-right: 45px;
}
.rce-citem-body--bottom-title {
  color: rgba(0, 0, 0, 0.4);
}
.rce-citem-body--top-title {
  color: #2f2f2f;
}
.rce-citem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Message chat */
.rce-mbox-right-notch {
  fill: #5c88e8;
}

.rce-mbox.rce-mbox-right {
  background: #5c88e8;
  color: #fff;
}

.rce-container-mlist {
  margin-bottom: 3px;
}

.rce-mbox-time {
  font-size: 10px;
}

/* Select BriefCard */
.select-briefCard {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.select-briefCard select {
  width: 30%;
  margin-right: 5%;
}

.select-briefCard button {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .container-chatlist {
    margin-left: 5%;
    margin-right: 5%;
  }

  .box-chatroom {
    width: 100%;
    max-height: 520px;
    overflow: auto;
  }

  .background-chatlist {
    background-size: 300px 300px;
    max-height: 100vh;
    background-position: bottom;
  }

  .box-message {
    width: 90%;
  }

  .background-chat {
    background-image: none;
  }
}
