/* Chat list */
.no-chat {
  margin: 40px 0px 80px 0px;
}
.no-chat h4 {
  color: #5c88e8;
}
.no-chat p {
  color: #5c88e8;
}

.no-chat h5 {
  margin-top: 60px;
}

.block-btn-chat {
  margin: 40px;
}

.background-chat {
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

/* box-info-profile */
.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235, 235, 235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease 0.3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.btn-crete-brief {
  width: 100px;
  margin-left: 5px;
  padding: 10px;
  background-color: #5c88e8;
  color: #fff;
}

.btn-no-chat {
  background-color: #e8f1f2;
  color: #2f2f2f;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
}

.box-message {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-left: 1px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  margin-bottom: 60px;
}
.box-chatroom {
  border-left: 1px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  padding: 15px;
  max-height: 350px;
  min-height: 350px;
  overflow: auto;
  background-color: #fff;
}
.box-message .input-field .prefix {
  color: #fff;
}

.box-message .input-field {
  width: 100%;
}

.title-chat {
  padding-top: 15px;
  padding-bottom: 5px;
}

.btn-message {
  margin-top: 22px;
  width: 100px;
  margin-left: 5px;
}
/* Chat list */
.container-chatlist {
  margin-left: 30%;
  margin-right: 30%;
}
.rce-container-citem {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px 0px;
}
.rce-mbox-text {
  margin-right: 45px;
}
.rce-citem-body--bottom-title {
  color: rgba(0, 0, 0, 0.4);
}
.rce-citem-body--top-title {
  color: #2f2f2f;
}
.rce-citem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Message chat */
.rce-mbox-right-notch {
  fill: #5c88e8;
}

.rce-mbox.rce-mbox-right {
  background: #5c88e8;
  color: #fff;
}

.rce-container-mlist {
  margin-bottom: 3px;
}

.rce-mbox-time {
  font-size: 10px;
}

.rce-citem-body--bottom-status span {
  background-color: #5c88e8;
}

/* Select BriefCard */
.select-briefCard {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.select-briefCard select {
  width: 30%;
  margin-right: 5%;
}

.select-briefCard button {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .notification .notification-content {
    padding: 0 10px;
  }

  .container-chatlist {
    margin-left: 5%;
    margin-right: 5%;
  }

  .background-chat {
    margin-left: 0%;
    margin-right: 0%;
  }

  .box-chatroom {
    width: 100%;
    max-height: 520px;
    overflow: auto;
  }

  .background-chatlist {
    background-size: 300px 300px;
    max-height: 100vh;
    background-position: bottom;
  }

  .background-chat {
    background-image: none;
  }
}

@media only screen and (max-width: 350px) {
  .notification .notification-content a div {
    padding: 10px;
    display: contents;
  }
}
