.no-margin-bottom {
  margin-bottom: 0px !important;
}
.padding-none {
  padding: 0 !important;
}
.sidebar-template {
  width: 100%;
}

.sidebar-background img {
  width: 100%;
  height: auto;
}

.sidebar-template ul {
  margin-top: -5px;
  margin-bottom: 0px;
}
.li-sidebar li {
  padding: 10px;
}

.li-sidebar li:hover {
  padding: 5px;
}

.img-block {
  cursor: pointer;
}

.img-block img {
  width: 100%;
  height: auto;
}

.block-info-sidebar {
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #e8f1f2;
  border: 1px solid #ddd;
}

ol li {
  padding: 10px;
}

.block-info-sidebar p {
  padding: 10px;
}
