.container-welcome {
  padding: 20px;
}

/* Banner */
.slide-home {
  background-color: #e8f1f2;
}
.btn-started {
  background-color: #5c88e8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 24px;
}
/* Banner 2 */
.title-buisness {
  margin: 80px 0px;
}

.image-parallax img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
}
